/* General CSS Starts */


body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    /* background: #2D25A0; */
}

h1 {
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
}

/* General CSS Ends */

/* Header CSS Starts */
header {
    background: #2D25A0;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 42px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 36px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.login a {
    text-decoration: none;
    background: #E02C6D;
    color: white;
    padding: 10px 24px;
}

.login a:hover {
    background-color: crimson;
    color: #332f2f;
}

.login i {
    margin-right: 8px;
}


/* Banner Container Starts */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 121px;
}

.banner-title {
    margin-right: 120px;
}

.banner-title h1 {
    font-size: 64px;
    font-weight: 700;
    color: white;
}

.button {
    text-decoration: none;
    background: #E02C6D;
    color: white;
    padding: 10px 24px;
    font-size: 16px;
    margin-top: 24px;
}

.button i {
    margin-left: 8px;
}

.banner-picture img {
    width: 556.01px;
    height: 438px;
}

/* Player Album Section CSS Starts */
.player-album {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-top: 70px;
}

.player {
    width: 300px;
    height: 474px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-picture img {
    width: 300px;
    height: 256px;
}

.player-info h2 {
    font-size: 28px;
    color: #18191F;
}

.player-info p {
    color: #6C6C6C;
}



/* Highlight Section CSS Starts */
.highlight-container {
    background-color: #332f2f;
    color: #ffffff;
    padding: 35px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.highlight-title {
    width: 469px;
    padding: 20px;
}

.highlight-title h1 {
    font-size: 50px;
}

.highlight-title p {
    font-size: 16px;
    margin-bottom: 50px;
}

.hightlight-img img {
    width: 567px;
    height: 427px;
}


/* Footer Section CSS Starts */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 140px auto;
}

.footer-img img {
    width: 484px;
    margin-bottom: 20px;
}

.fab {
    margin-right: 14px;
    margin-bottom: 20px;
    font-size: 16px;
    background: lightgray;
    padding: 8px;
    border-radius: 50%;
}

.fab:hover {
    color: white;
    background-color: #2D25A0;
    transform: scale(1.2);
}

.copyright p {
    font-size: 18px;
}