/* General CSS Starts */


body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2 {
    font-family: 'Ubuntu', sans-serif;
}

.button {
    text-decoration: none;
    background: #E02C6D;
    color: white;
    padding: 10px 24px;
    font-size: 16px;
    margin-top: 24px;
}

.button:hover {
    box-shadow: 5px 5px 10px rgb(46, 84, 122);
    transition: 0.2s;
}

.button i {
    margin-left: 8px;
    margin-right: 8px;
}

/* General CSS Ends */

/* Header CSS Starts */
header {
    background: #2D25A0;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 42px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 36px;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

nav ul li a:hover {
    color: tomato;
}

/* Header Section CSS Ends */

/* Banner Container Sectoin CSS Starts */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 121px;
}


.banner-title {
    margin-right: 120px;
}

.banner-title h1 {
    font-size: 64px;
    font-weight: 700;
    color: white;
}

.banner-picture img {
    width: 556.01px;
    height: 438px;

}

.banner-picture img:hover {
    transform: rotate(360deg);
    transition: transform 3s ease;
}

/* Banner Container Section CSS Ends */

/* Player Album Section CSS Starts */
.player-album {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-top: 70px;
}

.player {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.player-picture img {
    width: 300px;
    height: 256px;
}

.player-info h2 {
    font-size: 28px;
    color: #18191F;
}

.player-info p {
    color: #6C6C6C;
}

/* Player Album Section CSS Ends */


/* Highlight Section CSS Starts */
.highlight-container {
    background-color: #332f2f;
    color: #ffffff;
    padding: 35px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.highlight-title {
    width: 469px;
    padding: 20px;
}

.highlight-title h1 {
    font-size: 50px;
}

.highlight-title p {
    font-size: 16px;
    margin-bottom: 50px;
}

.hightlight-img img {
    width: 567px;
    height: 427px;
}

/* Highlight Section CSS Ends */

/* Legend Player Section CSS Starts */

.legend-player {
    height: 100vh;
    background: linear-gradient(45deg, #608297, #ec2F4B);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.legend-info {
    text-align: center;
    /* line-height: 16px; */
    color: antiquewhite;
}

.legend-info h1 {
    font-size: 55px;
}

.legend-info h2 {
    font-size: 60px;
    background: -webkit-linear-gradient(45deg, #2069ad, #fcf7ce, #f1e03e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.legend-info h3 {
    font-size: 30px;
}


/* Legend Player Section CSS Ends */

/* Video Album Section CSS Starts */

.container {
    background-color: #608297be;
    padding: 25px;
}

.video-container {
    text-align: center;
    width: 83%;
    margin: 15px auto;
}

.video-title h1 {
    color: wheat;
    font-size: 45px;
    padding: 10px 20px;
    border-bottom: 2px solid #ffe6e9;
}

.videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.video {
    border: 1px solid #ffe6e9;
}

.video iframe {
    width: 400px;
    height: 270px;
}

/* Footer Section CSS Starts */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 140px auto;
}

.footer-img img {
    width: 484px;
    margin-bottom: 20px;
}

.fab {
    margin-right: 14px;
    margin-bottom: 20px;
    font-size: 16px;
    background: lightgray;
    padding: 8px;
    border-radius: 50%;
}

.fab:hover {
    color: white;
    background-color: #2D25A0;
    transform: scale(1.2);
}

.copyright p {
    font-size: 18px;
}

/* Footer Sectoin CSS Ends */


/* Media Query CSS */
/* Media Query Secton for Mobile Devices under 688px */
@media only screen and (max-width: 688px) {
    header {
        width: 100%;
        height: 695px;
    }

    nav {
        justify-content: flex-end;
        margin-right: 50px;

    }

    nav ul {
        display: none;
    }

    .banner-container {
        flex-direction: column;
        margin-top: 80px;
    }

    .banner-title h1 {
        font-size: 30px;
    }

    .banner-picture img {
        width: 329px;
        height: 259px;
        margin-top: 60px;
    }

    /* Player Albu, Section CSS Starts */
    .player-album {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .players {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 30px;
        margin-top: 70px;
    }

    /* Highlight Section CSS Starts */
    .highlight-container {
        height: 100%;
        width: 100%;
        padding: 15px 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .highlight-title {
        width: 80%;
        padding: 0px;
        margin: 10px auto;
    }

    .highlight-title h1 {
        font-size: 30px;
    }

    .highlight-title p {
        margin-bottom: 30px;
    }

    .hightlight-img img {
        width: 328px;
        height: 248px;
        margin-top: 50px;
    }


    /* Legend Player Section CSS Starts */

    .legend-player {
        height: 100%;
        width: 100%;
        flex-direction: column;
        padding: 20px 0px;
    }

    .legend-player img {
        width: 100%;
        height: 50%;
        margin-top: 50px;
    }

    .legend-info {
        text-align: center;
        /* line-height: 16px; */
        color: antiquewhite;
    }

    .legend-info h1 {
        font-size: 55px;
    }

    .legend-info h2 {
        font-size: 45px;
    }

    /* Legend Player Section CSS Ends */

    /* Video Album Section CSS Starts */
    .container {
        padding: 20px 0px;
    }

    .video-container {
        width: 100%;
        margin: 10px auto;
    }

    .video-title h1 {
        color: wheat;
        font-size: 30px;
    }

    .videos {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .video iframe {
        width: 80%;
        height: 100%;
    }

    /* Video Album Section CSS Ends */


    /* Footer Section CSS Starts */

    .footer-img img {
        width: 272px;
        margin-bottom: 20px;
    }

    /* Footer Sectoin CSS Ends */

}